$black-200: #111314;
$black-100: #292c31;

$green-300: #274e37;
$green-200: #27b885;
$green-100: #61c389;

$blue-200: #3677f6;
$blue-100: #1ea1f3;

$gray-700: #696d75;
$gray-600: #676e77;
$gray-500: #9098a3;
$gray-400: #bbbdc1;
$gray-300: #dedfe2;
$gray-200: #edeeef;
$gray-100: #f5f6f8;

$red: #e12c43;
$main-color: #177165;
$yellow: #e0e000;

$white: #ffffff;
$white-100: #f9fcff;

$text: $black-200;

$font-size: 16px;

$font-text: "Nunito", sans-serif;

$smaller: 0.6875rem;
$small: 0.8125rem;
$normal: 1rem;
$large: 1.375rem;
$h1: 2rem;
$h2: 1.5rem;
$h3: 1.25rem;

$transition: all 0.2s ease-out;

$icon-size: 24px;

$radius: 8px;

$quad-hd: 2560px;
$full-hd: 1920px;
$widescreen: 1440px;
$tablet-wide: 1024px;
$tablet: 768px;
$mobile: 480px;
